<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WikiPlaces.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>03D0162B2EE7442F006CDCCD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>03D016382EE74431006CDCCD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>03D016422EE74431006CDCCD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
